# add an exception (using !) to the preceding rule to track a specific file
#!package.json# ignore a file type
*.o
*.d
*.dis
*.hex
*.exe
*.b64
*.pyc
*.pyc
*.DS_Store

# add an exception (using !) to the preceding rule to track a specific file
#!package.json
